* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #232323;
  color: #ffffff;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  flex-basis: min(90%, 700px);
  padding-block: 3rem;
}

header {
  font-size: 1.5rem;
  text-decoration: underline;
}

main {
  width: 90%;
  flex-grow: 1;
  display: grid;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: min(100%, 507px);
}

button {
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  padding: 0.3em 1em;
  border-radius: 10px;
  width: fit-content;
  align-self: flex-end;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #232323;
}

.output {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.output > h3 {
  font-size: min(6vmin, calc(2rem + 1.2vmax));
}
